.title {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

#predict {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

form {
    font-family: Arial, sans-serif;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 4px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #D9534F;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #B22222;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
