<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Old Car Analysis</title>
</head>

<body>

    <img id="title" src="{{ url_for('static', filename='images/image.png') }}" alt="Your Image">
    <div id = "chart">
        <img id="chart1" src="{{ url_for('static', filename='images/chart1.png') }}" alt="Your Image">
        <h id="desc">Percentage Distribution of Cars by Brand Chart</h>
    </div>
    <div id = "predict">
        <form id="carForm">
            <label for="carName">Car Name:</label>
            <input type="text" id="carName" name="car_name" required><br><br>
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" required><br><br>
            <label for="drivenKms">Driven KMs:</label>
            <input type="number" id="drivenKms" name="driven kms" required><br><br>
            <label for="numOfDoor">Number of Doors:</label>
            <input type="number" id="numOfDoor" name="num_of_door" required><br><br>
            <label for="numOfSeat">Number of Seats:</label>
            <input type="number" id="numOfSeat" name="num_of_seat" required><br><br>
            <label for="assemblePlace">Assemble Place:</label>
            <select id="assemblePlace" name="assemble_place">
                <option value="0">Lắp ráp trong nước</option>
                <option value="1">Nhập khẩu</option>

                <!-- Add more options if needed -->
            </select><br><br>
            <label for="series">Series:</label>
            <select id="series" name="series">
                <option value="SUV">SUV</option>
                <option value="Sedan">Sedan</option>
                <option value="Hatchback">Hatchback</option>
                <option value="Crossover">Crossover</option>
                <option value="Bán tải / Pickup">Bán tải / Pickup</option>
                <option value="Van/Minivan">Van/Minivan</option>
                <option value="Convertible/Cabriolet">Convertible/Cabriolet</option>
                <option value="Coupe">Coupe</option>
                <option value="Truck">Truck</option>
                <option value="Wagon">Wagon</option>
                <!-- Add more options if needed -->
            </select><br><br>
            <label for="engineType">Engine Type:</label>
            <select id="engineType" name="engine_type">
                <option value="Xăng">Xăng</option>
                <option value="Dầu">Dầu</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Điện">Điện</option>
                <!-- Add more options if needed -->
            </select><br><br>
            <label for="transmission">Transmission:</label>
            <select id="transmission" name="transmission">
                <option value="Số tự động">Số tự động</option>
                <option value="Số tay">Số tay</option>
                <!-- Add more options if needed -->
            </select><br><br>
            <label for="brand">Brand:</label>
            <select id="brand" name="brand">
                <option value="Toyota">Toyota</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Kia">Kia</option>
                <option value="Ford">Ford</option>
                <option value="Mazda">Mazda</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Lexus">Lexus</option>
                <option value="Honda">Honda</option>
                <option value="VinFast">VinFast</option>
                <option value="LandRover">LandRover</option>
                <option value="Volvo">Volvo</option>
                <option value="Audi">Audi</option>
                <option value="BMW">BMW</option>
                <option value="Porsche">Porsche</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Daewoo">Daewoo</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Nissan">Nissan</option>
                <option value="Other">Other</option>
                <!-- Add more options if needed -->
            </select><br><br>
            <button id = "predict_button" type="button" onclick="predictPrice()">Predict Price</button>
        </form>
        <div id="result"></div>
    </div>

    <script>
        function predictPrice() {
            var formData = {
                'car_name': " "+document.getElementById('carName').value,
                'year': parseFloat(document.getElementById('year').value),
                'driven kms': parseFloat(document.getElementById('drivenKms').value),
                'num_of_door': parseFloat(document.getElementById('numOfDoor').value),
                'num_of_seat': parseFloat(document.getElementById('numOfSeat').value),
                'assemble_place': parseInt(document.getElementById('assemblePlace').value),
                'series': document.getElementById('series').value,
                'engine_type': document.getElementById('engineType').value,
                'transmission': document.getElementById('transmission').value,
                'brand': document.getElementById('brand').value,
            };

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = 'Predicted Price: ' + data.prediction;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>
